.container {
    border: 5px solid white;
    border-radius: 1rem;
    background: rgb(18, 41, 93);
    color: white;
    text-transform: uppercase;

}
.header_text {
    font-weight: bold;
    font-size: larger;
}