.linear-activity {
    overflow: hidden;
    width: 100%;
    height: 4px;
    background-color: #b3e5fc;
    margin: 20px auto
}

.determinate {
    max-width: 100%;
    -webkit-transition: width .5s ease-out 1s;
    -moz-transition: width .5s ease-out 1s;
    -o-transition: width .5s ease-out 1s;
    transition: width .5s ease-out 1s;
    background-color: #03a9f4
}

.determinate,
.indeterminate {
    position: relative;
    height: 100%
}

.indeterminate {
    width: 100%
}

.indeterminate:before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #03a9f4;
    animation: indeterminate_first 1.5s ease-out infinite
}

.indeterminate:after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #4fc3f7;
    animation: indeterminate_second 1.5s ease-in infinite
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%
    }

    to {
        left: 100%;
        width: 10%
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%
    }

    to {
        left: 100%;
        width: 10%
    }
}